* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://images.unsplash.com/photo-1496614932623-0a3a9743552e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjZ8fHN1bnNldHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background-color: #fff;
    background: tr;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
    min-width: 300px;
    max-width: 500px;
    min-height: auto;
    text-align: center;


    box-shadow:
  1px 1.9px 2.1px rgba(0, 0, 0, 0.045),
  2.3px 4.6px 5.1px rgba(0, 0, 0, 0.065),
  4.4px 8.6px 9.5px rgba(0, 0, 0, 0.08),
  7.8px 15.4px 17px rgba(0, 0, 0, 0.095),
  14.6px 28.8px 31.8px rgba(0, 0, 0, 0.115),
  35px 69px 76px rgba(0, 0, 0, 0.16)
;
}

.toggle-form {
    display: flex;
    justify-content: center;
    background: transparent;
    padding: 30px;
}

.toggle-form button {
    padding: 15px 30px;
    border: none;
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    outline: none;
}

.toggle-form .active {
    background-color: #7450f5;
    color: #fff;
}

.form-container {
    padding: 20px 40px;
    margin-bottom: 30px;
}

.form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.form button {
    width: 100%;
    padding: 10px;
    background-color: #7450f5;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    transition: all 0.2s ease;
}

.form button:hover {
    background-color: #6540eb;
}

/* Hide the login form by default */
#loginForm {
    display: none;
}
